// makes room for the header
.container-fluid.top {
  padding-top: 70px;
}

.well h3 {
  margin-top: 0;
}

#drop {
  border-style: dashed;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

// participant form, keeps the inputs as wide as possible
.form-participant .input-group {
	width: 100%;	
}