<div class="col-md-3">
  <div>{{phase.selectedParticipant}}</div>
  <div ng-repeat="p in phase.nonParticipants" ng-click="phase.selectedParticipant = p">
    {{ p.name }}
  </div>
</div>
<div class="col-md-9">
  <div ng-repeat="pool in phase.object.settings.pools" class="col-md-3" ng-click="phase.addParticipant(phase.selectedParticipant, {pool: pool}); phase.selectedParticipant = false">
    <h3>{{pool}}</h3>
    <div ng-repeat="pp in phase.object.participants | filter:{pool:pool}">
      <div ng-repeat="p in phase.participants| filter:{_id:pp.id}">{{ p.name }}</div>
    </div>
  </div>
</div>