<div class="well">
	<h3 ng-bind="editor.isNew ? 'Add Participant' : 'Edit Participant'"></h3>
	<form name="participantForm" class="form form-participant" novalidate>
		<div class="form-group">
			<label for="name">Name</label>
			<div class="input-group">
				<input htm-focus-on="true" ng-model="editor.participant.name" type="text" class="form-control" name="name"/>
			</div>
		</div>

		<div class="form-group">
			<label for="club">Club</label>
			<div class="input-group" ng-hide="editor.newClub">
				<span class="input-group-btn">
					<button name="add club" ng-click="editor.addNewClub()" class="btn btn-default" type="button" title="Add new club">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</span>
				<ui-select name="club" ng-model="editor.participant.club">
					<ui-select-match placeholder="Select or search a club in the list...">
						<span ng-bind="$select.selected.name"></span>
					</ui-select-match>
					<ui-select-choices repeat="club in editor.clubs | filter: $select.search">
						<span ng-bind-html="club.code | highlight: $select.search"></span>
						<span> - </span>
						<span ng-bind-html="club.name | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="input-group" ng-show="editor.newClub">
				<span class="input-group-btn" ng-if="editor.canRemoveNewClub()">
						<button ng-click="editor.removeNewClub()" class="btn btn-success" type="button" title="Cancel add new club">	<span class="glyphicon glyphicon-plus"></span>
						</button>
				</span>
				<input name="club name" ng-model="editor.participant.club.name" htm-focus-on="editor.newClub && editor.canRemoveNewClub()" type="text" class="form-control" required="true"/>
			</div>
		</div>
		<div class="form-group" ng-show="editor.newClub">
			<label>Club Code</label>
			<div class="input-group">
				<input name="club code" ng-model="editor.participant.club.code" type="text" class="form-control" required="true"/>
			</div>
		</div>
		<div class="form-group">
			<label for="country">Country</label>
			<div class="input-group">
				<span class="input-group-addon">
					<htm-flag country="editor.participant.country"></htm-flag>
				</span>
				<ui-select name="country" ng-model="editor.participant.country" ng-disabled="disabled" required="true">
					<ui-select-match placeholder="Select or search a country in the list...">
						<span ng-bind="$select.selected.name"></span>
					</ui-select-match>
					<ui-select-choices repeat="country in editor.countries | filter: $select.search">
						<span ng-bind-html="country.code2 | highlight: $select.search"></span>
						<span ng-show="country.code2"> - </span>
						<span ng-bind-html="country.name | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group" ng-show="editor.tournaments.length">
			<label for="Tournaments">Tournaments</label>
			<div class="list-group">
  			<a href="#" class="list-group-item" ng-repeat="t in editor.tournaments" ng-click="editor.toggleSubscription(t)">
					<span class="glyphicon" ng-class="editor.participant.inTournament(t) ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
  				<span ng-bind="t.name"></span>
  			</a>
			</div>
		</div>
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="editor.save()" ng-bind="editor.isNew ? 'Add Participant' : 'Done'"></button>
			<button class="btn btn-danger" ng-click="editor.closeEditor()" ng-show="editor.isNew">Close</button>
		</div>
		<div class="clearfix"></div>
	</form>
</div>