<div class="well">
  <h3>Import from Excel</h3>

  <div id="drop" ng-hide="importer.hasFile">Drop an Excel file here to preview the participants to import</div>

  <div ng-show="importer.hasFile">
    <table class="table">
    <tbody>
      <tr ng-repeat="p in importer.participants" ng-class="p.selected ? 'success' : 'danger'" ng-click="p.selected = !p.selected">
        <td><span class="glyphicon" ng-class="p.selected ? 'glyphicon-ok' : 'glyphicon-remove'"></span></td>
        <td>{{p.name}}</td>
        <td>{{p.club}}</td>
        <td>{{p.country}}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="pull-right">
    <button class="btn btn-primary" ng-click="importer.import()" ng-show="importer.hasFile">Import Participants</button>
    <button class="btn btn-danger" ng-click="importer.cancel()">Close</button>
  </div>
  <div class="clearfix"></div>  
</div>