<form name="settingsForm" class="form" novalidate>
  <div class="form-group">
    <label for="ruleset">Ruleset</label>
    <select ng-model="phase.settings().ruleset" name="ruleset" class="form-control"><option>1</option><option>2</option></select>
  </div>
  <div class="form-group">
    <label>Pools <span class="badge">{{phase.settings().pools.length}}</span></label>
    <br/>
    <div>
      <div ng-repeat="pool in phase.settings().pools" class="col-md-1 col-xs-3 text-center">
        <div class="well well-sm text-center">
          {{pool}}
        </div>
      </div>
      <div class="col-md-1 col-xs-3" ng-show="phase.settings().pools.length < 26">
        <button class="btn btn-default" ng-click="phase.addPool()">
          <span class="glyphicon glyphicon-plus"></span> Add pool
        </button>
      </div>
    </div>
  </div>
</form>