<form name="tournamentForm" class="form form-participant" novalidate>
  <h3>Tournament</h3>
  <div class="form-group">
    <label for="name">Name</label>
    <input ng-model="tournament.object.name" type="text" class="form-control" name="name"/>
  </div>

  <div ng-repeat="phase in tournament.object.phases track by $index">
    <hr/>
    <h3>Phase {{ $index + 1}}: {{ phase.name }}</h3>
    <div class="form-group">
      <label for="phase.{{$index}}.name">Name</label>
      <input ng-model="phase.name" type="text" class="form-control" name="phase.{{$index}}.name"/>
    </div>
    <div class="form-group">
      <label for="phase.{{$index}}.ruleset">Ruleset</label>
      <select name="phase.{{$index}}.ruleset" class="form-control"><option>1</option><option>2</option></select>
    </div>
    <div class="form-group" ng-if="phase.type === 'pool'">
      <label>Pools <span class="badge">{{phase.pools.length}}</span></label>
      <br/>
      <div>
        <div ng-repeat="pool in phase.pools track by $index" class="col-md-1 col-xs-3 text-center">
          <div class="well well-sm text-center">
            {{pool.name}}
          </div>
        </div>
        <div class="col-md-1 col-xs-3" ng-show="phase.pools.length < 26">
          <button class="btn btn-default" ng-click="tournament.addPool(tournament.object)">
            <span class="glyphicon glyphicon-plus"></span> Add pool
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

  </div>
</form>