<div id="battle-station">
	<div class="container-fluid">
		<div ng-repeat="hits in battleStation.hitGroups" class="col-xs-{{12/battleStation.hitGroups.length}}">
			<div ng-repeat="hit in hits" class="row" >
				<div class="col-xs-12" style="margin-top:15px;margin-bottom:15px;">
					<a class="text-center btn btn-default btn-block btn-lg"
						ng-click="battleStation.add(hit)"
						ng-hide="battleStation.isHitSelected(hit)">
						{{battleStation.hitGroupName(hit)}}
					</a>

					<a class="text-center btn btn-default btn-block btn-lg"
						ng-click="battleStation.selectPoints('1')"
						ng-show="battleStation.isHitSelected(hit)">
						points
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
