<div id="battle-station">
	<div class="container-fluid">
		<div ng-repeat="hits in battleStation.hitGroups" class="col-xs-{{12/battleStation.hitGroups.length}}">
			<div ng-repeat="hit in hits" class="row" >
				<div class="col-xs-12" >
					<div class="btn-group btn-group-justified btn-group-hit" 
						 ng-hide="battleStation.isHitSelected(hit)"
						 role="group" >
						<a role="button" 
							class="text-justify btn btn-default"
							ng-click="battleStation.selectHit(hit)">
							{{battleStation.hitName(hit)}}
						</a>
					</div>
					<div class="btn-group btn-group-justified btn-group-hit" 
						 ng-show="battleStation.isHitSelected(hit)"
						 role="group" >
						<a role="button"
							class="text-justify btn btn-default"
							ng-repeat="points in battleStation.hitPoints(hit)"
							ng-click="battleStation.selectPoints('1')">
							{{points}}
						</a>
						<a role="button"
							class="text-justify btn btn-default"
							ng-click="battleStation.cancelHit()">
							<span class="glyphicon glyphicon-remove-sign"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
