<div>
	<div ng-repeat="tournament in scheduledFights.tournaments">
		<h3>{{tournament.name}}</h3>
		<div class="panel panel-default" ng-repeat="phase in tournament.phases">
			<div class="panel-heading">{{phase.name}}</div>
			<div class="list-group">
				<a 
					ui-sref="battle-station.fight({arenaId: scheduledFights.arenaIdentifier, tournamentId: tournament.identifier, fightId: fight._id})"
					class="list-group-item" 
					ng-repeat="fight in phase.fights.planned">
					<p>
						<span><htm-flag country="scheduledFights.participant(fight.fighterA).country"></htm-flag></span>
						<span ng-bind="scheduledFights.participant(fight.fighterA).name"></span>
					</p>
					<p>
						<span><htm-flag country="scheduledFights.participant(fight.fighterB).country"></htm-flag></span>
						<span ng-bind="scheduledFights.participant(fight.fighterB).name"></span>
					</p>
				</a>
			</div>
		</div>		
	</div>
</div>

