<div class="row">
	<div class="col-lg-4 
				hidden-xs
				hidden-sm
				hidden-md"
		ui-view="scheduled-fights">
	</div>
	<div class="col-lg-8 
				col-xs-12
				col-sm-12
				col-md-12">
		<div id="battle-station">
			<div class="page-header visible-sm-block visible-md-block visible-lg-block" >
				<h1>{{scoreBoard.tournament.name}} <small>{{scoreBoard.arena.name}}</small></h1>
			</div>
			<div class="container-fluid">
				<div class="row" >
					<a role="button"
						id="undo"
						href="#"
						class="btn btn-default" 
						ng-class="{'disabled': scoreBoard.cantUndo()}"
						ng-click="scoreBoard.undo()">
							Undo
						</a>
					<a role="button"
						id="redo"
						href="#"
						class="btn btn-default" 
						ng-class="{'disabled': scoreBoard.cantRedo()}"
						ng-click="scoreBoard.redo()">						
							Redo
					</a>
				</div>
				<div class="row" >
					<div class="col-xs-4 text-left">{{scoreBoard.fighterA.name}}</div>
					<div class="col-xs-4">
						<div id="score-blue" class="col-xs-4 text-left">{{scoreBoard.score('blue')}}</div>
						<div id="score-neutral" class="col-xs-4 text-center">({{scoreBoard.exchange()}})</div>
						<div id="score-red" class="col-xs-4 text-right">{{scoreBoard.score('red')}}</div>				
					</div>
					<div class="col-xs-4 text-right">{{scoreBoard.fighterB.name}}</div>
				</div>
				<div class="row">
					<div ng-repeat="hits in scoreBoard.hitGroups" class="col-xs-{{12/scoreBoard.hitGroups.length}}">
						<div ng-repeat="hit in hits" class="row" >
							<div class="col-xs-12" >
								<div class="btn-group btn-group-justified btn-group-hit" 
									 ng-hide="scoreBoard.isHitSelected(hit)"
									 role="group" >
									<a href="#"
										ng-attr-id="{{scoreBoard.hitClass(hit)}}"
										role="button" 
										class="text-justify btn btn-default"
										ng-click="scoreBoard.selectHit(hit)">
										<span>{{scoreBoard.hitName(hit)}}</span>
									</a>
								</div>
								<div class="btn-group btn-group-justified btn-group-hit" 
									 ng-show="scoreBoard.isHitSelected(hit)"
									 role="group" >
									<a href="#"
										role="button"
										class="text-justify btn btn-default"
										ng-repeat="points in scoreBoard.hitPoints(hit)"
										ng-attr-id="{{scoreBoard.hitClass(hit,points)}}"
										ng-click="scoreBoard.selectPoints(points)">
										<span>{{points}}</span>
									</a>
									<a href="#"
										role="button"
										class="text-justify btn btn-default"
										ng-click="scoreBoard.cancelHit()">
										<span class="glyphicon glyphicon-remove-sign"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 