<p>
  <div class="btn-group" dropdown>
    <button ng-click="participants.add()" id="split-button" type="button" class="btn btn-default">Add Participant</button>
    <button type="button" class="btn btn-default" dropdown-toggle>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
      <li role="menuitem"><a ui-sref="administration.participants.import">Import from Excel</a></li>
    </ul>
  </div>
</p>
<ui-view></ui-view>
<table class="table">
<thead>
  <tr>
    <th>Country</th>
    <th>Number</th>
    <th>Name</th>
    <th>Club</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="p in participants.list track by p._id">
    <td>{{p.country.code}}</td>
    <td>{{p.number}}</td>
    <td>{{p.name}}</td>
    <td>{{p.club.name}}</td>
  </tr>
</tbody>
</table>