<h1>Participants <span class="badge">{{participants.list.length}}</span></h1>
<p><button class="btn btn-default" ng-click="participants.add()">Add Participant</button></p>
<table class="table">
<thead>
  <tr>
    <th>Country</th>
    <th>Number</th>
    <th>Name</th>
    <th>Club</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="p in participants.list track by p._id">
    <td>{{p.country.code}}</td>
    <td>{{p.number}}</td>
    <td>{{p.name}}</td>
    <td>{{p.club.name}}</td>
  </tr>
</tbody>
</table>